/**
 * OVERVIEW
 *
 * This project is separated to the following style sheets:
 *
 * normalize.min.css....CSS reset.
 * base.css.............Global rules and helpers.
 * layout.css...........CSS rules that control the layout of the page.
 * components.css.......Own CSS for the components that build up the page.
 */


/**
 * CONTENTS
 *
 * SETTINGS
 * Variables............Globally-available variables.
 * Box-sizing...........Better default `box-sizing`.
 * Margins..............Top and bottom margins global values.
 *
 * BASE STYLES
 * Headings.............H1-H2 styles.
 * Base font............Base font style.
 *
 */





/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
  --bg-primary:           #F4F3F5;
  --bg-secondary:         #FFFFFF;
  --bg-header:            #6200EA;
  --bg-footer:            #211138;
  --primary-font-color:   #211138;
  --secondary-font-color: #6200EA;
  --thirdly-font-color:   #ffffff;
  --small-font-color:     #B2ACBA;
  --btn-main-color:       #6200EA;
}





/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* {
  box-sizing: border-box;
}





/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

header, footer {
  padding:       0;
  margin:        0;
}


nav, aside {
  padding:       0;
  margin:        0;
}


.credits {
  display: inline-block;
}

.credits,
.post-title,
.post-text,
.thumbnail-title {
  margin: 0 0 .75rem 0; /* margin-bottom 15px */
}





/*------------------------------------*\
  #BASE FONT
\*------------------------------------*/

html {
  font-size:      20px;
  letter-spacing: .12rem;
  line-height:    .75rem;
  font-family:    'Montserrat', sans-serif;
  color:          var(--primary-font-color);
}





/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

.post-title { /* h1 */
  font-size:   2rem;
  font-weight: bold;
  line-height: 2.5rem; 
  margin-top:  0;
}

.thumbnail-title { /* h3 */
  font-size:      .6rem; /* 12px */
  font-weight:    bold;
  line-height:    .75rem;  /* 15px */
  margin-top:     0;
  color:          var(--secondary-font-color);
  text-transform: uppercase;
  letter-spacing: .12rem; /* 2.4px */
}

h2 { font-size: 12px; }




/*------------------------------------*\
  #PARAGRAPHS
\*------------------------------------*/

.post-text {
  line-height: 1.5rem; 
}

.thumbnail-text {
  font-size:      .7rem;
  line-height:    1rem;
  letter-spacing: 0;
  color:          var(--primary-font-color);
}





/*------------------------------------*\
  #IMG
\*------------------------------------*/

img {
  width:         6rem;
  height:        6rem;
  border-radius: .5rem;
  object-fit:    cover;
}






/*------------------------------------*\
  #BASE BACKGROUND-COLOR
\*------------------------------------*/

html {
  background-color: var(--bg-primary);
}




