/**
 * CONTENTS
 *
 * HEADER
 *
 * NAVIGATION
 *
 * MAIN CONTENT
 *
 * SIDEBAR
 *
 * ADVERTISEMENT
 *
 * FOOTER
 */





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.main-head {
  background-color: var(--bg-header);
  display:          flex;
  justify-content:  center;
  align-items:      center;
  height:           4rem;
}

  .main-head__btn {
    text-transform:   uppercase;
    text-align:       center;
    vertical-align:   middle;
    text-decoration:  none;
    font-size:        .6rem;
    font-weight:      bold;
    letter-spacing:   .12rem;
    line-height:      2rem;
    color:            var(--secondary-font-color);
    background-color: var(--bg-secondary);
    border:           .1rem solid #FFFFFF;
    border-radius:    1.2rem;
    width:            8rem;
    height:           2rem;
    position: absolute;
    /* margin-right: 19%; */
    left: 15.31%;
  }

  .main-head__logo {
    color:           var(--thirdly-font-color);
    text-transform:  uppercase;
    text-decoration: none;
    /* margin-left:     -19%; */
  }

    .main-head__logo-img {
      width:  9rem;
      height: 2.5rem;
    }



/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.main-nav {
  background-color: var(--bg-secondary);
  display:          flex;
  flex-direction:   row;
}






/*------------------------------------*\
  #MAIN CONTENT
\*------------------------------------*/

.content {
  /* background-color: var(--bg-primary); */
  padding:          0 0 0 25.13%; /* padding-left */
}

  .content__header {
    /* margin-left: 3em; */
  }


  .primary-btn {
    background-color: var(--bg-secondary);
    border-width:     2px;
    border-style:     solid;
    border-color:     var(--btn-main-color);
    border-radius:    24px;
    color:            var(--secondary-font-color);
    padding:          4px;
    cursor:           pointer;
  }



/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/

.side {
  /* background-color: var(--bg-primary); */
  padding:          0 41.17% 0 0;  /* padding-right  */
}





/*------------------------------------*\
  #ADVERTISEMENT
\*------------------------------------*/

.ad {
  background-color: var(--bg-alert);
  color:            var(--secondary-font-color);
  text-align:       center;
}





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.main-footer {
  background-color: var(--bg-primary);
  display:          flex;
  justify-content:  center;
}