 /**
 * CONTENTS
 *
 * LAYOUT
 * Elements.............Rules for the container and items
 * Modifiers............Media queries for the layout.
 *
 * WHITESPACES
 * Whitespaces..........Whitespaces between items.
 */





/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

.main-head {
  grid-area:  header;
  place-self: center strech;
}


.main-nav {
  grid-area: nav;
}


.content {
  grid-area: content;
  padding:   2rem 0 2rem 25.13%; /* padding-left */
} 

  .content-post {
    background-color: var(--bg-secondary);
    border-radius:    .75rem;
    margin-bottom:    1.5rem;
  }

  .thumbnail-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .post-image {
    width:                      100%;
    height:                     16rem;
    object-fit:                 cover;
    border-bottom-left-radius:  0;
    border-bottom-right-radius: 0;
  }

  .image-post {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .another-post {     /* the last post in list */
    margin-bottom: 0;
  }


.side {
  grid-area: sidebar;
  padding:   2rem 41.17% 2rem 0;  /* padding-right  */
}


.main-footer {
  grid-area:  footer;
  place-self: center strech;
}


.page {
  display:                grid;
  grid-template-columns:  2fr 1fr;
  grid-template-areas:
                          "header  header"
                          "nav     nav"
                          "content sidebar"
                          "footer  footer";
}




/*------------------------------------*\
  #IMAGES
\*------------------------------------*/

.thumbnail-img {
  float:         left;
  margin-right:  1rem;
}

  .thumbnail-img::after {
    clear: both;
  }





/*------------------------------------*\
  #MODIFIERS
\*------------------------------------*/

/* @media (min-width: 500px) {
  .page {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "nav     nav"
      "sidebar content"
      "ad      footer";
  }
} */





/*------------------------------------*\
  #WHITESPACES AND GRID GAPS
\*------------------------------------*/

.page,
.thumbnail-wrapper {
  gap: 0 30px;   /* row gap = 0 and column gap = 30px */
}


