 /**
 * CONTENTS
 *
 * LAYOUT
 * Elements.............Rules for the container and items
 * Modifiers............
 *
 * WHITESPACES
 * Whitespaces..........Whitespaces between items.
 */





/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

.main-head {
  grid-area:  header;
  place-self: center strech;
}


.main-nav {
  grid-area: nav;
}


.content {
  grid-area: content;
} 

.thumbnail-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.side {
  grid-area: sidebar;
}


.main-footer {
  grid-area:  footer;
  place-self: center strech;
}


.page {
  display:                grid;
  grid-template-columns:  2fr 1fr;
  grid-template-areas:
                          "header  header"
                          "nav     nav"
                          "content sidebar"
                          "footer  footer";
}





/*------------------------------------*\
  #IMAGES
\*------------------------------------*/

.thumbnail-img {
  float: left;
}

  .thumbnail-img::after {
    content:  "";
    clear:    both;
    display:  table;
  }





/*------------------------------------*\
  #WHITESPACES AND GRID GAPS
\*------------------------------------*/


.page,
.thumbnail-wrapper {
  gap: 0 30px;   /* row gap = 0 and column gap = 30px */
}