 /**
 * CONTENTS
 *
 * LAYOUT
 * Elements.............Rules for the container and items
 * Modifiers............Media queries for the layout.
 *
 * WHITESPACES
 * Whitespaces..........Whitespaces between items.
 */





/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

.main-head {
  grid-area:  header;
  place-self: center strech;
}


.main-nav {
  grid-area: nav;
}


.content {
  grid-area: content;
} 


.side {
  grid-area: sidebar;
}


.main-footer {
  grid-area:  footer;
  place-self: center strech;
}


.page {
  display:                grid;
  grid-template-columns:  3fr 1fr;
  grid-template-areas:
                          "header  header"
                          "nav     nav"
                          "content sidebar"
                          "footer  footer";
  gap:                    30px 0;            /* column gap = 30px and row gap = 0 */
}





/*------------------------------------*\
  #MODIFIERS
\*------------------------------------*/

/* @media (min-width: 500px) {
  .page {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "nav     nav"
      "sidebar content"
      "ad      footer";
  }
} */





/*------------------------------------*\
  #WHITESPACES
\*------------------------------------*/

.page {
  gap: .7em;
}
